@import 'variables';

@function fontSize($weight-name){
    @return map-get($font-weight, $weight-name)
}

@mixin light($light-theme: true) {
    @if  $light-theme {
        background: lighten($light-mode , 100%);
        color: darken($text-color, 100%);
    }
}

@mixin mobile($width) {
    @media(max-width: $width){
        @content;
    }
}

body{
    margin: 0 ;
    font-family: roboto, sans-serif;
}

// .section1 {
//     background: burlywood;
//     grid-area: a;
//     display: grid;
// }

// .section2 {
//     background: blanchedalmond;
//     grid-area: b;
//     padding: 15px;
//     grid-template-columns: repeat(5, 1fr);
//     grid-template-rows: repeat(5, 1fr);
// }

// .section3 {
//     background: brown;
//     color:white;
//     grid-area: c;
//     padding: 15px;
//     @include mobile(500px){
//         display: grid;
//         grid-template-columns: 2fr 2fr ;
//     }
//     // display: grid;
//     // grid-template-columns: fr 2fr ;
// }

// .section4 {
//     background: black;
//     grid-area: d;
//     padding: 15px;
//     color: white;
// }
// .section5 {
//     background: blue;
//     grid-area: e;
//     padding: 15px;
//     color:white;
// }

// content {
//     display: grid;
//     margin : 15px;
//     grid-template-columns: repeat(5, 1fr);
//     grid-template-rows: repeat(5, 1fr);
//     height: 250px;
//     grid-gap: 5px;
//     grid-template-areas: 
//         "a a a a a"
//         "b b b b b"
//         "c c c c c"
//         "d d d d d"
//         "e e e e e";
    
//         .bg-banner {
//             background: brown url("../img/bg.jpg");
//             background-position: center;
//             background-repeat: no-repeat;
//             background-size: cover;
//             position: relative;
//             opacity: 60%;
//             width: 100%;
//             height: 5px;
//         }

//     @include mobile(500px){
//         grid-template-columns: repeat(3, 1fr);
//         grid-template-rows: repeat(5, 1fr);
//         grid-template-areas: 
//         "a a a"
//         "b b b"
//         "c c c"
//         "d e e"
//         ". . .";
//     }
// }


ul#nav-item {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	li {
        display: inline;
        
        a {
            text-decoration: none;
            padding-right: 10px;
            font-size: 17px;
            color: white;
     
            &:hover{
                font-weight: bold;
                background-color: #4FC3F7;
            }
        }
}

nav {
    width:inherit;
    background: rgba(2, 2, 2,0.2);
    transition: background-color 1s ease 0s;
    z-index: 100;
    position: fixed;
    width: 100%;

}

.solid {
    background-color: black;
}

banner {
    z-index: 99;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    opacity: 0.8;
    background-size: cover;
    position: relative;
    z-index: 1;
    height: 450px;  
    color: #ffffff;
    .banner-content {
        margin-top: 30px;
    }
    @include mobile(500px){
        height: 250px;  
     }
}

.banner-content{
    z-index: -1;
    padding : 10px;
    margin: 10px;
    text-align: center;
}

content {
    display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        height: 500px;
        grid-gap: 5px;
           
        .about {
            display: grid;
            grid-template-columns: 400px auto;
            background-color: pink;
            height: auto;
            text-align: center;
            padding: 20px;

            .profile{
                @include mobile(500px){
                    height: 1px;
                }
            }

            @include mobile(500px){
                grid-template-columns: 1fr;
                grid-template-rows: 250px auto;
            }

            img {
                width: 250px;
                height: 250px;
                border-radius: 100% ;
                border: 4px solid white;


            }
         
        }
        
        .project{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            background-color: white;
            margin: 15px;
            grid-gap: 1em;
            //height: 350px;

            
            @include mobile(500px){
                display: grid;
                grid-template-columns: 1fr;
            }

            // justify-items: center;
            .card{
                display: grid;
                grid-template-rows: 50px auto 50px;
                background-color: powderblue;
                border-radius: 10px;
                color: black;
              

                .card-header{
                    
                    text-align: center;
                }
                .card-body{
                    padding: 15px;
                }
                .card-footer{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    text-align: center;
                    padding: 5px;
                    border-top: 1px solid white;
                    
                    
                    p:hover {
                        background-color: powderblue;
                        cursor:pointer;
                    }   
                    .icon-footer{
                        width: 30px;
                        height: 30px;
                        align-items: center;
                    }
                }
            }
        }
        .skills{
            display: grid;
            grid-template-rows: 120px auto;
            padding: 15px;
           
            .skills-label{
                text-align: center;
            }
            .skill-content{
                @include mobile(500px){
                    display: grid;
                    grid-template-columns: repeat(10,1fr);
                    justify-items: center;
                    align-items: center;
                    text-align: center;
                 }

                 .skill-icon {
                    @include mobile(500px){
                       width: 100px;
                       height: 100px;
                    }
                }
            }
        }
        .contact {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            background-color: burlywood;
            text-align: center;
            color: white;
            height: auto;
            padding: 5px;
        }
}




