body {
  margin: 0;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  background-color: #b2dfdb;
}

ul#nav-item {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  padding-right: 10px;
  font-size: 17px;
  color: white;
}

li a:hover {
  font-weight: bold;
  background-color: #4FC3F7;
}

nav {
  width: inherit;
  background: rgba(2, 2, 2, 0.2);
  -webkit-transition: background-color 1s ease 0s;
  transition: background-color 1s ease 0s;
  z-index: 100;
  position: fixed;
  width: 100%;
}

.solid {
  background-color: black;
}

banner {
  z-index: 99;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 50px auto;
      grid-template-rows: 50px auto;
  background: black url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.9;
  height: 450px;
  color: #ffffff;
}

@media (max-width: 500px) {
  banner {
    height: 250px;
  }
}

.banner-content {
  padding: 10px;
  margin: 20px;
  text-align: center;
  color: black;
}

content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  height: 500px;
  grid-gap: 5px;
}

content .about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px auto;
      grid-template-columns: 400px auto;
  background-color: #00897b;
  height: auto;
  text-align: center;
  padding: 20px;
  color: white;
}

content .about p {
  font-size: 18px;
}

@media (max-width: 500px) {
  content .about .profile {
    height: 1px;
  }
}

@media (max-width: 500px) {
  content .about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 250px auto;
        grid-template-rows: 250px auto;
  }
}

content .about img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 4px solid white;
}

content .project {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: 15px;
  grid-gap: 1em;
}

@media (max-width: 500px) {
  content .project {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

content .project .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px auto 50px;
      grid-template-rows: 50px auto 50px;
  background-color: #00796b;
  color: white;
  -webkit-box-shadow: 0 9px 10px -6px black;
          box-shadow: 0 9px 10px -6px black;
}

content .project .card .card-header {
  text-align: center;
}

content .project .card .card-body {
  padding: 15px;
}

content .project .card .card-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  text-align: center;
  padding: 5px;
  border-top: 1px solid white;
}

content .project .card .card-footer p:hover {
  background-color: powderblue;
  cursor: pointer;
}

content .project .card .card-footer .icon-footer {
  width: 30px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

content .skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 120px auto;
      grid-template-rows: 120px auto;
  padding: 15px;
}

content .skills .skills-label {
  text-align: center;
}

@media (max-width: 500px) {
  content .skills .skill-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[10];
        grid-template-columns: repeat(10, 1fr);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (max-width: 500px) {
  content .skills .skill-content .skill-icon {
    width: 100px;
    height: 100px;
  }
}

content .contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  background-color: #00796b;
  text-align: center;
  color: white;
  height: auto;
  padding: 5px;
}
/*# sourceMappingURL=custom.css.map */