@import 'variables';

@function fontSize($weight-name){
    @return map-get($font-weight, $weight-name)
}

@mixin light($light-theme: true) {
    @if  $light-theme {
        background: lighten($light-mode , 100%);
        color: darken($text-color, 100%);
    }
}

@mixin mobile($width) {
    @media(max-width: $width){
        @content;
    }
}

body{
    margin: 0 ;
    font-family: roboto, sans-serif;
}

.section1 {
    background: burlywood;
    grid-area: a;
    padding: 15px;

}

.section2 {
    background: blanchedalmond;
    grid-area: b;
    padding: 15px;
}

.section3 {
    background: brown;
    grid-area: c;
    padding: 15px;
}

.section4 {
    background: black;
    grid-area: d;
    padding: 15px;
}
.section5 {
    background: blue;
    grid-area: e;
    padding: 15px;
}

content {
    display: grid;
    margin : 15px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 250px;
    grid-gap: 5px;
    grid-template-areas: 
        "a a a a a"
        "b b b b b"
        "c c c c c"
        "d d d d d"
        "e e e e e";

    @include mobile(500px){
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "a a a"
        "b c c"
        "d e e";
    }
}


// container {
//     display: grid;
//     background-color: #4fc3f7 ;
//     margin: 20px ;
//     border-radius: 10px ;
//     margin-left: 200px;
//     margin-right: 200px;
//     margin-top: 50px;
//     height: 600px;

//     @include mobile(500px){
//         margin-top: 20px;
//         margin-left: 30px;
//         margin-right: 30px;
//     }

// }

// content {
//     display: grid;
//     grid-template-columns: 50px 350px auto 50px;
//     grid-template-rows: 500px 100px;
//     margin: 15px;
//     grid-gap: 1em;
    
//     content-item {
//         display: flex;            /* new */
//         align-items: center;      /* new */
//         justify-content: center; 

//         .profile {
//             width: 250px;
//             height: 250px;
//             border-radius: 100%;
//             border: 10px solid #ffe082;
//         }

//         .arrow {
//             &:hover{
//                 background-color: pink;
//             }
//         }
//     }
    
//     content-footer {
//         grid-template-rows: 500px 100px;
//     }
//     .icon-main {
//         width: 300px;
//         height: 300px;
//         border-radius: 100%;
//         border: 7px solid #ffe082;
//         justify-self: start;
//         padding: 5px auto;
        
//     }

//     @include mobile(850px){
//         grid-template-columns: repeat(2,1fr);
//     }

//     @include mobile(500px){
//         grid-template-columns: 10px 100px 20px 50px;
//         text-align: center;
//         color: white;

//         .profile {
//           display: none;
//         }
        
//         .arrow{
//             width: 30px;
//             height: 30px ;
//         }
//     }

//     &.content-body{
//         display: grid;
//         grid-template-columns: repeat(4, 1fr);
//         color: white;
//         justify-content: center;

//     }
// }

// .nav-top{

//     & ul {
//         list-style-type: none;
//         margin: 0;
//         padding: 0;
//         overflow: hidden;

//         & li {
//             float: right;
//             & a {
//                 display: block;
//                 padding: 15px;
//                 color: white;
//                 text-decoration: none;

//                 &:hover{
//                     background-color: #64b5f6   ;
//                     border-radius: 20px;
//                 } 
//             }
//             & img{
//                 padding-top: 10px;
//                 height: 30px;
//                 display: block;
//                 margin-left: auto;
//                 margin-right: auto;
//                 width: 50%; 
//             }
//               @include mobile(500px){
                  
//                 }
//         }
        
//         @include mobile(500px){
//             text-align: center;
//             justify-content: center;
//         }
//     }
// }

// .arrow-left {
//     justify-items: center;
// }





