@import 'variables';

@function fontSize($weight-name){
    @return map-get($font-weight, $weight-name)
}

@mixin FlexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    
    
}

@mixin light($light-theme: true) {
    @if  $light-theme {
        background: lighten($light-mode , 100%);
        color: darken($text-color, 100%);
    }
}

@mixin dark($light-theme: true) {
    @if  $light-theme {
        background: darken($light-mode , 83%);
        color: lighten($text-color, 83%);
    }
}


@mixin mobile($width) {
    @media(max-width: $width){
        @content;
    }
}

body{
    margin: 0 ;
}

.container {
    display: grid;

    & .nav-top {
        grid-template-columns: 100%;

    }
}

.content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(100px, auto);
    margin: 10px;
    grid-gap: 1em;

    @include mobile(800px){
        grid-template-columns: repeat(1,1fr);
    }

    
}
.content > div{
    display: grid;
    background-color: pink;
    padding: 5px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li {
    float: left;
    & a {
        display: block;
        padding: 15px;
        color: white;
        text-decoration: none;
    }
}

a:hover{
    background-color: black;
}
  
.nav-top{
    background-color: grey;
}

.dark-Mode {
    @include dark(true);
}

.banner {
    transition: width 2s, height 2s, transform 2s;
    background-color: white;
    height: 350px;
    max-height: 350px;
    @include mobile(800px){
        height: 150px;
    }
}


.menubar{
        overflow: hidden;
        color: #000;   
        line-height: 50px;
        transition: all .5s ease-in-out;
        height: 0;
        background-color: white;     
}

.menubar:target{
    height: 60px;
    background-color: pink;
}

.menu{
    transition: width 2s, height 2s, transform 2s;
    border-radius: 50%;
    border: 1px solid red;
    background-color: darken($light-mode,83%);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 120px 8px;
    @include mobile(800px){
        margin: 10px 8px;
        height: 20px;
        width: 20px;
    }

    height: 50px;
    width: 50px;

}

.menu:hover{
    background-color: blue;
}


